header {
  background-color: #1D3557;
  text-align: center;
  color: white;
  padding: 20px;
  font-size: 100;
}


body {
  background: #F1FAEE;
  font-family: "Raleway", sans-serif;

}

p {
  color: black;
  font-size: 25;
  text-align: center;
  font-family: "Raleway", sans-serif;
}
h1 {
  font-weight: bold;
  font-size: 100;
  font-family: 'Sacramento', cursive;
}
h2{
  font-weight: bold;
  font-size: 50;
   text-align: center;
}
h3{
  font-weight: bold;
  font-size: 25;
   text-align: center;
}

* {
  box-sizing: border-box;
}

/* Column container */
.row {
  display: flex;
  flex-wrap: wrap;
  background-color: #F1FAEE;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 30%; /* Set the width of the sidebar */
  background-color: #f1f1f1; /* Grey background color */
  padding: 20px; /* Some padding */
}

/* Main column */
.main {
  flex: 70%; /* Set the width of the main content */
  background-color: #F4A261; /* White background color */
  padding: 20px; /* Some padding */
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #457B9D;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #1D3557;
  color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #1D3557;
  color: white;
}
