header {
  background-color: #1D3557;
  text-align: center;
  color: white;
  
}


body {
  background: #F1FAEE;
  font-family: "Raleway", sans-serif;
  font-size: 100%;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px 
@media screen and (min-width: 601px) {
  p{
    font-size: 10vw;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px 
@media screen and (max-width: 600px) {
  p {
    font-size: 12;
  }
}
*/
p {
 font-size: 1.2em;
  text-align: center;
  font-family: "Raleway", sans-serif;
}
h1 {
  font-weight: bold;
  font-size: 4em;
  font-family: 'Sacramento', cursive;
}
h2{
  font-weight: bold;
  font-size: 1.3em;
   text-align: center;
}
h3{
  font-weight: bold;
  font-size: 1em;
   text-align: center;
}

* {
  box-sizing: border-box;
}
.img-container{
 width:100%;
  height:300px; 
}

/* Column container */
.row {
  display: flex;
  flex-wrap: wrap;
  background-color: #F1FAEE;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  color: black;
  flex: 40%; /* Set the width of the sidebar */
  background-color: #F1FAEE; /* Grey background color */
  padding: 20px; /* Some padding */
}

/* Main column */
.main {
  flex: 60%; /* Set the width of the main content */
  background-color: #F1FAEE; /* White background color */
  padding: 20px; /* Some padding */
  color: black;
}



/* Add a black background color to the top navigation */
.topnav {
  background-color: #457B9D;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #1D3557;
  color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #1D3557;
  color: white;
}




.gallery {
  margin: 2px;
  
}

.gallery img {
  width: 100%;
  height: auto;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}
